#background{
	background-image: url(Festive.jpg);
	height: 98vh;
	-webkit background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}

#intro{
	color: white;
	text-align: center;
	background-position: 1px solid white;
	margin-top: 100px;
	display: inline-block;
	color: white;
	padding-left: 1000px;
	padding-right: 100px;
}

.festival_details{
	font-family: serif;
}

.festival_details:hover{
}

.festival_card{
	width: 30%;
	background: whitesmoke;
	margin-bottom: 50px;
	transition: 0.3s;
}

.festival_card:hover{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
	background-color: cadetblue;
	color: white;
}


.card_img{
	width: 100%;
	height: 250px;
	margin-top: 0px;
}

.card_body{
	padding: 5px 5px;
	text-align: center;
	font-size: 18px;
	font-weight: 200;
}

.topic{
	margin-bottom: 10px;
	text-decoration: none;
	font-family: cursive;
}

.row1{
	margin-top: 100px;
	display: flex;
	flex-direction: black;
	justify-content: space-around;
	flex-flow: wrap;
}

.row2{
	display: flex;
	flex-direction: black;
	justify-content: space-around;
	flex-flow: wrap;
}

.row3{
	display: flex;
	flex-direction: black;
	justify-content: space-around;
	flex-flow: wrap;
}

.row4{
	display: flex;
	flex-direction: black;
	justify-content: space-around;
	flex-flow: wrap;
}

/* footer styles */
footer {
	position: relative;
	margin-top: 100px;
	margin-bottom: 0;
	background: #36718F;
	height: auto;
	width: 100%;
	font-family: "Poppins", Arial, sans-serif;
	padding-top: 40px;
	color: #fff;
}

.footer-content {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.footer-content h3 {
	font-size: 30px;
	font-family: monospace;
}

.footer-content p {
	display: flex;
	margin: 10px auto;
	font-size: 14px;
	font-family:monospace;
}

.footer_bottom {
	margin-top: 50px;
	width: 100%;
	padding: 10px ;
}

.footer_bottom p {
	text-align: center;
	font-size: 14px;
	word-spacing: 2px;
	color:white;
	padding-bottom:20px;
}

.footer_bottom p a{
	text-decoration:none;
	color:black;
}

.footer_bottom p a:hover{
	color:#00FF00;
	text-decoration:none;
}

.footer_bottom span {
	opacity: .5;
}

.logo2 img{
	width:100px;
	float: left;
	height: auto;
	background: rgba(0,0,0,0.5);
	border-radius:50px;
}

.logo3 fa{
	display: inline-flex;
	width:50px;
	height:50px;
	display: inline-block;
	padding-left: 3em;
    padding: 5px;
}

.logo3 i{
	padding: 5px;
}

.logo3 a{
	color:white;
	text-decoration:none;
}

.logo3 a:hover{
	color:black;
}

/* back to top button styles */
#to_top_btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #3DA4FF;
    color: white;
    cursor: pointer;
    padding: 10px;
}

#to_top_btn:hover {
    background-color: #f85959;
}

header{
    position: absolute;
    top: 0; left:0;right:0;
    display:flex;
    justify-content: space-between;
    padding: 4px 10px;
    background: #36718F;
    z-index:1;
    font-family:Poppins;

}
.logo{
    width:100px;
 	float: left;
 	height: auto;
 	background: rgba(0,0,0,0.5);
 	border-radius:50%;
}
.navbar {
    overflow: hidden;
    padding-top: 15px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Poppins;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color:black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* back to top button styles */
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #36718F;
    bottom: 40px;
    right: 50px;
    border-radius:25px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}